---
import { getCollection } from "astro:content";
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";

const allPosts = await getCollection("post");
const tagsSet = new Set<string>();
allPosts.forEach((post) => {
  if (post.data.tags) {
    post.data.tags.forEach((tag) => tagsSet.add(tag));
  }
});
const uniqueTags = Array.from(tagsSet).sort();
---

<Layout title="All Tags">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Tags"
      description="Explore topics and categories covered in the blog."
    />

    <div class="z-50 flex flex-wrap gap-3 my-8">
      {uniqueTags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="px-4 py-2 text-sm font-semibold rounded-full border border-neutral-200 dark:border-neutral-700 bg-neutral-50 dark:bg-neutral-800 text-neutral-600 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 transition-colors"
        >
          {tag}
        </a>
      ))}
    </div>
  </section>
</Layout>
